VentanaPrincipal/Servicios/Web References/SrvPermisosUsuarios/SrvPermisosDUsuarios.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="SrvPermisosDUsuarios" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:57823/SrvPermisosDUsuarios.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:57823/SrvPermisosDUsuarios.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:57823/SrvPermisosDUsuarios.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/SrvPermisosUsuarios" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ISrvPermisosDUsuarios_GetData_InputMessage">
    <wsdl:part name="parameters" element="tns:GetData" />
  </wsdl:message>
  <wsdl:message name="ISrvPermisosDUsuarios_GetData_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDataResponse" />
  </wsdl:message>
  <wsdl:message name="ISrvPermisosDUsuarios_GetDataUsingDataContract_InputMessage">
    <wsdl:part name="parameters" element="tns:GetDataUsingDataContract" />
  </wsdl:message>
  <wsdl:message name="ISrvPermisosDUsuarios_GetDataUsingDataContract_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDataUsingDataContractResponse" />
  </wsdl:message>
  <wsdl:message name="ISrvPermisosDUsuarios_MostrarTabla_InputMessage">
    <wsdl:part name="parameters" element="tns:MostrarTabla" />
  </wsdl:message>
  <wsdl:message name="ISrvPermisosDUsuarios_MostrarTabla_OutputMessage">
    <wsdl:part name="parameters" element="tns:MostrarTablaResponse" />
  </wsdl:message>
  <wsdl:message name="ISrvPermisosDUsuarios_AgregarPermisoUsuario_InputMessage">
    <wsdl:part name="parameters" element="tns:AgregarPermisoUsuario" />
  </wsdl:message>
  <wsdl:message name="ISrvPermisosDUsuarios_AgregarPermisoUsuario_OutputMessage">
    <wsdl:part name="parameters" element="tns:AgregarPermisoUsuarioResponse" />
  </wsdl:message>
  <wsdl:message name="ISrvPermisosDUsuarios_EliminarPermisoUsuario_InputMessage">
    <wsdl:part name="parameters" element="tns:EliminarPermisoUsuario" />
  </wsdl:message>
  <wsdl:message name="ISrvPermisosDUsuarios_EliminarPermisoUsuario_OutputMessage">
    <wsdl:part name="parameters" element="tns:EliminarPermisoUsuarioResponse" />
  </wsdl:message>
  <wsdl:portType name="ISrvPermisosDUsuarios">
    <wsdl:operation name="GetData">
      <wsdl:input wsaw:Action="http://tempuri.org/ISrvPermisosDUsuarios/GetData" message="tns:ISrvPermisosDUsuarios_GetData_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISrvPermisosDUsuarios/GetDataResponse" message="tns:ISrvPermisosDUsuarios_GetData_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetDataUsingDataContract">
      <wsdl:input wsaw:Action="http://tempuri.org/ISrvPermisosDUsuarios/GetDataUsingDataContract" message="tns:ISrvPermisosDUsuarios_GetDataUsingDataContract_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISrvPermisosDUsuarios/GetDataUsingDataContractResponse" message="tns:ISrvPermisosDUsuarios_GetDataUsingDataContract_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="MostrarTabla">
      <wsdl:input wsaw:Action="http://tempuri.org/ISrvPermisosDUsuarios/MostrarTabla" message="tns:ISrvPermisosDUsuarios_MostrarTabla_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISrvPermisosDUsuarios/MostrarTablaResponse" message="tns:ISrvPermisosDUsuarios_MostrarTabla_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AgregarPermisoUsuario">
      <wsdl:input wsaw:Action="http://tempuri.org/ISrvPermisosDUsuarios/AgregarPermisoUsuario" message="tns:ISrvPermisosDUsuarios_AgregarPermisoUsuario_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISrvPermisosDUsuarios/AgregarPermisoUsuarioResponse" message="tns:ISrvPermisosDUsuarios_AgregarPermisoUsuario_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="EliminarPermisoUsuario">
      <wsdl:input wsaw:Action="http://tempuri.org/ISrvPermisosDUsuarios/EliminarPermisoUsuario" message="tns:ISrvPermisosDUsuarios_EliminarPermisoUsuario_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISrvPermisosDUsuarios/EliminarPermisoUsuarioResponse" message="tns:ISrvPermisosDUsuarios_EliminarPermisoUsuario_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_ISrvPermisosDUsuarios" type="tns:ISrvPermisosDUsuarios">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetData">
      <soap:operation soapAction="http://tempuri.org/ISrvPermisosDUsuarios/GetData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDataUsingDataContract">
      <soap:operation soapAction="http://tempuri.org/ISrvPermisosDUsuarios/GetDataUsingDataContract" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="MostrarTabla">
      <soap:operation soapAction="http://tempuri.org/ISrvPermisosDUsuarios/MostrarTabla" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AgregarPermisoUsuario">
      <soap:operation soapAction="http://tempuri.org/ISrvPermisosDUsuarios/AgregarPermisoUsuario" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EliminarPermisoUsuario">
      <soap:operation soapAction="http://tempuri.org/ISrvPermisosDUsuarios/EliminarPermisoUsuario" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="SrvPermisosDUsuarios">
    <wsdl:port name="BasicHttpBinding_ISrvPermisosDUsuarios" binding="tns:BasicHttpBinding_ISrvPermisosDUsuarios">
      <soap:address location="http://localhost:57823/SrvPermisosDUsuarios.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>